@model Tarefas.Web.Models.Tarefa

<form asp-action="Create">

   <div class="form-group">
        <label asp-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @readonly = "true" })
    </div>

    <div class="form-group">
        <label asp-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @readonly = "true" })
    </div>
        
    <input type="submit" class="btn btn-primary" />
        
</form>